[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
fastapi = "*"
numpy = "*"
imgbeddings = "*"
opencv-python = "*"
psycopg2-binary = "*"
psycopg2 = "*"
uvicorn = "*"
huggingface-hub = "==0.25.2"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.13"
